name: QualityPipeline

on: [ push ]

jobs:

  build:
    runs-on: ubuntu-latest
    
    steps:

    - uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install requierments
      run: pip install -r ./requirements.txt


    - name: Run linters
      run: flake8 app.py

    - name: Run tests
      run: pytest -- maxfail =1 --disable-warnings -q
